<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>Add a star</title>
</head>
<body>

<form method="post" style="max-wdith:600px;" th:object="${observation}">
    <div class="form-group">
        <label th:for="altitude">Altitude</label>
        <input class="form-control" th:field="*{altitude}" />
    </div>

    <div class="form-group">
        <label th:for="daytime">Date and Time</label>
        <input class="form-control" th:field="*{daytime}" />
    </div>

    <div class="form-group">
        <label th:for="objectId">Object</label>
        <select th:field="*{objectId}">
            <option th:each="star : ${stars}"
                    th:text="${star.name}"
                    th:value="${star.starId}"></option>
        </select>
    </div>

    <input type="submit" value="Add Observation" />
</form>

</body>
</html>