<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>

<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<div th:each="star : ${stars}">

<b><br th:text="${star.name}" /></b>

<table class="table" border="1">
    <tr>
        <td><b>Altitude</b></td>
        <td><b>Azimuth</b></td>
        <td colspan="2"><b>RA</b></td>
        <td colspan="2"><b>Dec</b></td>
        <td><b>ST</b></td>
        <!-- <td><b>Location</b></td> -->
        <td><b>Latitude</b></td>
    </tr>

    <tr th:each="observation : ${observations}">
        <td th:switch="${observation.objectId}" th:case="${star.starId}" th:text="${observation.altitude} + 'º'"></td> <!-- Alt -->
        <td th:switch="${observation.objectId}" th:case="${star.starId}" th:text="${observation.azimuth} + 'º'"></td> <!-- Az -->
        <td th:switch="${observation.objectId}" th:case="${star.starId}" th:text="${observation.rightAscension}" colspan="2"></td> <!-- RA -->
        <td th:switch="${observation.objectId}" th:case="${star.starId}" th:text="${observation.declination} + 'º'" colspan="2"></td> <!-- Dec -->
        <td th:switch="${observation.objectId}" th:case="${star.starId}"><span th:text="${observation.siderealTimeH} + 'h'"></span><span th:text="${observation.siderealTimeM} + 'm'"></span></td> <!-- ST-Hour -->
        <!-- <span th:each="location : ${locations}"><td th:switch="${observation.locationId}" th:case="${location.locationId}" th:text="${location.location}"></td></span> Location - Some sort of error on this line -->
        <td th:switch="${observation.objectId}" th:case="${star.starId}" th:text="${observation.latitude} + 'º'"></td> <!-- Lat -->
    </tr>

    <tr>
        <td colspan="2">&nbsp;</td>
        <td><b>RA Average</b></td>
        <td><b>RA StDev</b></td>
        <td><b>Dec Average</b></td>
        <td><b>Dec StDev</b></td>
    </tr>

    <tr>
        <td colspan="2">&nbsp;</td>
        <td th:text="${star.avgRA} + 'º'"></td>
        <td th:text="${star.stDevRA} + 'º'"></td>
        <td th:text="${star.avgDec} + 'º'"></td>
        <td th:text="${star.stDevDec} + 'º'"></td>
    </tr>
</table>

</div>

</body>
</html>