<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>

<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<div th:each="star : ${stars}">

<b><br th:text="${star.name}" /></b>

<table class="table">
    <tr>
        <td><b>Altitude</b></td>
        <td><b>Year</b></td>
        <td><b>Month</b></td>
        <td><b>Day</b></td>
        <td><b>Location</b></td>
    </tr>

    <tr th:each="observation : ${observations}">
        <td th:switch="${observation.objectId}" th:case="${star.starId}" th:text="${observation.altitude}"></td>
        <td th:switch="${observation.objectId}" th:case="${star.starId}" th:text="${observation.year}"></td>
        <td th:switch="${observation.objectId}" th:case="${star.starId}" th:text="${observation.month}"></td>
        <td th:switch="${observation.objectId}" th:case="${star.starId}" th:text="${observation.dayOfMonth}"></td>
        <td th:each="location : ${locations}" th:switch="${observation.locationId}" th:case="${location.locationId}" th:text="${location.location}"></td>
    </tr>

    <tr>
        <td><b>Average</b></td>
        <td><b>StDev</b></td>
    </tr>

    <tr >
        <td th:text="${star.average}"></td>
        <td th:text="${star.stDev}"></td>
    </tr>
</table>

</div>

</body>
</html>